body {
    /* background-color: rgb(247, 229, 208); */
    font-family: 'Georgia', Serif;
    font-size: 40px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.boxContainerFirst {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
}
.boxContainerSecond {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.boxContainerThird {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.rhombus {
    padding-top: 150px;
    align-items: center;
}

.first {
    width: 550px;
    height: 550px;
    /* margin: 60px; */
    /* this is your border*/
    /* outline: 2px solid;
    outline-offset: 15px; */
    /**/
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* transform: rotate(45deg); */
    background-color: rgba(84, 99, 182, 0.459);
    transform: rotate(62deg);
    padding: 10px;
}

.profilePhoto {
    background-image: url("./3rd-party/image/profile.JPG"); 
    height: 350px;
    width: 300px;
    transform: rotate(-62deg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    margin: 30px;
}
.second {
    width: 550px;
    height: 550px;
    /* margin: 60px; */
    /* this is your border*/
    /* outline: 2px solid;
    outline-offset: 15px; */
    /**/
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    background-color: rgba(245, 157, 117, 0.459);
    padding: 10px;
}

.workPhoto {
    background-image: url("./3rd-party/image/work.JPG"); 
    height: 330px;
    width: 300px;
    transform: rotate(-45deg);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    margin: 40px;
}
  
.title {
    position: absolute;
    left: 40%;
    top: 20%;
}

.box {
    display: flex;
    position: relative;
    flex-direction: row;
}

.boxTitle {
    text-align: center;
}

.about-me {
    padding-top: 250px;
    padding-left: 150px;
    flex-direction: column;
    text-align: center;
}

.workExperience {
    padding-left: 20px;
    flex-direction: column;
    
}

.certifications {
    padding-left: 20px;
    flex-direction: column;
}

.knowledge {
    padding-left: 20px;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    
}

.progress {
    position: relative;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.322);
    margin: 2px;
    font-size: 15px;
}

div.item {
    font-size: 20px;
    text-align: start;
}

.hobby {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    
}

.contact {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    
}

.card {
    --bs-card-bg: transparent;
}

.overflow-auto {
    position: relative;
    height: 450px;
   
}

::-webkit-scrollbar {
    background-color:#000000ab ;
}
::-webkit-scrollbar-button {
    background-color:#666867 ;
}
::-webkit-scrollbar-thumb {
    background-color: #b8b8b8
}


    


/* .third {
    width: 450px;
    height: 450px; */
    /* margin: 60px; */
    /* this is your border*/
    /* outline: 2px solid;
    outline-offset: 15px; */
    /**/
    /* overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center; */
    /* transform: rotate(45deg); */
    /* background-color: rgba(224, 182, 120, 0.596); */
    /* margin-top: 120px;
    margin-left: 120px;
    margin-bottom: 120px; */
    /* transform: rotate(62deg);
    padding-top: 10%;
    padding-left: 10%;
    margin: 120px;
} */
