body {
    /* background-color: rgb(247, 229, 208); */
    font-family: 'Georgia', Serif;
    font-size: 40px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.boxContainerFirst {
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: flex-start;
    
}
.boxContainerSecond {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.boxContainerThird {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hex {
    padding-top: 100px;
    align-items: center;
    /* filter: drop-shadow(0 15px 30px rgba(0, 0, 200, 0.5)); */
    filter: drop-shadow(0 15px 30px black);
    padding-left: 100px;
}

.first {
    /* width: 550px;
    height: 550px; */
    /* margin: 60px; */
    /* this is your border*/
    /* outline: 2px solid;
    outline-offset: 15px; */
    /**/
    /* overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center; */
    /* transform: rotate(45deg); */
    /* background-color: rgba(84, 99, 182, 0.459);
    transform: rotate(62deg);
    padding: 10px; */

    display: block;
    margin: 0 auto;
    position: relative;
    width: 620px;
    height: 577.12px; /* width * 0.866 */
    background: rgba(250, 250, 250, 0.952);
    box-sizing: border-box;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.profilePhoto {
    background-image: url("./3rd-party/image/profile.JPG"); 
    height: 350px;
    width: 300px;
    /* transform: rotate(-62deg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 100px;
    margin-left: 150px;
    position: absolute;
    box-shadow: 0 0 30px rgba(91, 117, 231, 0.5);
}
.second {
    /* width: 550px;
    height: 550px; */
    /* margin: 60px; */
    /* this is your border*/
    /* outline: 2px solid;
    outline-offset: 15px; */
    /**/
    /* overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    background-color: rgba(245, 157, 117, 0.459);
    padding: 10px; */
    display: block;
    margin: 0 auto;
    position: relative;
    width: 620px;
    height: 577.12px; /* width * 0.866 */
    background: rgba(250, 250, 250, 0.952);
    box-sizing: border-box;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    
}


.workPhoto {
    background-image: url("./3rd-party/image/work.JPG"); 
    height: 350px;
    width: 300px;
    /* transform: rotate(-45deg); */
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 100px;
    margin-left: 150px;
    position: absolute;
    box-shadow: 0 0 30px rgba(231, 135, 91, 0.5);
}
  
.title {
    position: absolute;
    left: 80%;
    top: 20%;
    color: black;
    /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
    width: 600px;
    font-size: 50px;
}

.box {
    display: flex;
    position: relative;
    flex-direction: row;
}

.boxTitle {
    text-align: center;
}

.about-me {
    padding-top: 250px;
    padding-left: 10%;
    flex-direction: column;
    text-align: center;
}
.about-me.card {
    width: 600px;
}
.workExperience {
    padding-top: 100px;
    padding-left: 20px;
    flex-direction: column;
    
}
h3.experience {
    color: rgb(69, 69, 122);
    padding-left: 30px;
    font-size: 35px;
    font-weight: bold;
}
span.workIcon {
    /* width: 560px; */
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.workIcon>img {
   width: 60px;
   height: 60px;
}
.workIcon>h3 {
    padding-left: 20px;
}


.overflow-auto {
    position: relative;
    height: 450px;
}

::-webkit-scrollbar {
    background-color:#000000ab ;
}
::-webkit-scrollbar-button {
    background-color:#666867 ;
}
::-webkit-scrollbar-thumb {
    background-color: #b8b8b8
}

.certifications {
    padding-top: 100px;
    padding-left: 20px;
    flex-direction: column;
}
span.graduationIcon {
    width: 360px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.graduationIcon>img {
   width: 50px;
   height: 50px;
}
.graduationIcon>h3 {
    padding-left: 20px;
}

.knowledge {
    padding-left: 20px;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    
}

.progress {
    position: relative;
    width: 800px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.322);
    margin: 2px;
    font-size: 20px;
}

.progress-bar {
    background-color: rgba(91, 117, 231, 0.76);
}

div.item {
    font-size: 25px;
    text-align: start;
}

.hobby {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    
}
img.hobbyIcon {
    width: 200px;
    height: 200px;
    float: right;
    /* margin-left: auto; */
    /* margin-right: auto */
}

    /* margin-left: auto;
    margin-right: auto; */
    /* width: 16em;
    */


.contact {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    
}
a {
    display: flex;
    width: 40px;
    height: 40px;
    padding: auto;
}
span {
    display: flex;
    flex-direction: row;
    padding: 5px;
    font-size: 15px;
    justify-content: flex-start;
}
.social-media {
    display: flex;
    flex-direction: column;
}
.social-media-icon>img {
    width: 50px;
    height: 50px;
}


.card {
    --bs-card-bg: transparent;
    box-shadow: 0 0 .2rem black,
                /* 0 0 .2rem black,
                0 0 2rem black, */
                /* 0 0 0.8rem black, */
                0 0 2.8rem black,
                inset 0 0 1.3rem black;
    --bs-card-border-radius: 0;
    --bs-card-border-color: rgb(92 90 90);
}



p {
    font-size: 30px;
    padding-left: 20px;
}

/* .third {
    width: 450px;
    height: 450px; */
    /* margin: 60px; */
    /* this is your border*/
    /* outline: 2px solid;
    outline-offset: 15px; */
    /**/
    /* overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center; */
    /* transform: rotate(45deg); */
    /* background-color: rgba(224, 182, 120, 0.596); */
    /* margin-top: 120px;
    margin-left: 120px;
    margin-bottom: 120px; */
    /* transform: rotate(62deg);
    padding-top: 10%;
    padding-left: 10%;
    margin: 120px;
} */
